
<h2> <%= @position.title %></h2>

<h3>Trade Details</h2>

<ul>
<% @position.trade_details.each do |trade| %>
  <li><%= "#{trade.direction} #{trade.size} #{trade.product} #{trade.price} #{trade.trade_date} #{trade.current_price}" %></li>
<% end %>

<%= link_to "Delete", @position, method: :delete, data: { confirm: "Are you sure you want to delete this trade?" } %>
</ul>
