<div class="main-container">
<section class="page-title page-title-2 image-bg overlay parallax">
    <div class="background-image-holder fadeIn">
          <%= s3_image_tag("tech-img2.png") %>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-md-6">
              <h2 class="uppercase mb8">About Us</h2>
              <p class="lead mb0">From street to screen</p>
          </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="pb0">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 about">
        <h4 class="uppercase">Strategy & Insight</h4>
          <p>
            Years of experience plus the collective of the best traders from the best institutions as resources just aren't enough anymore to have an edge in the present-day market environment. It takes all those things plus something unique, something that just can't be replicated. It takes a nimble, dynamic, focused, and hyper-vigilant strategy honed by almost three decades of Darren's fine tuning. Such a strategy is shared with you only here through World Macro.
          </p>
      </div>
      <div class="col-sm-6 about pl40">
        <h4 class="uppercase">Product Spread</h4>
          <div class="progress-bars">
            <div class="progress progress-1">
              <div class="progress-bar" data-progress="90%" style="width:95%;">
                <span class="title">Fixed Income Futures</span>
              </div>
            </div><!--end of progress bar-->
            <div class="progress progress-1">
              <div class="progress-bar" data-progress="70" style="width: 80%;">
                  <span class="title">Commodities</span>
              </div>
            </div><!--end of progress bar-->
            <div class="progress progress-1">
              <div class="progress-bar" data-progress="60" style="width: 65%;">
                <span class="title">Global FX</span>
              </div>
            </div><!--end of progress bar-->
            <div class="progress progress-1">
              <div class="progress-bar" data-progress="50" style="width: 50%;">
                <span class="title">Equity Indexes</span>
              </div>
            </div><!--end of progress bar-->
          </div><!--end of bars holder-->
        </div>
    </div>
        <!--end of row-->
  </div>
    <!--end of container-->
</section>
<section>
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-6 about pb16">
                <div class="image-tile outer-title text-center">
                    <%= image_tag("darren.png") %>
                    <div class="title mb16">
                        <h5 class="uppercase mb0">Darren Brogden</h5>
                        <span>Founder & CEO</span>
                    </div>
                    <p class="mb0">
                        Educated at the London School of Economics and a futures and options trader since 1988 with a solid list of tenures, Darren is one of the most respected names on trading desks throughout the industry. His expertise and precision have earned him a long list of loyal followers and an impressive track record.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 about pb16">
                <div class="image-tile outer-title text-center">
                    <%= image_tag("kirsten.png") %>
                    <div class="title mb16">
                        <h5 class="uppercase mb0">Kirsten O'Farrell</h5>
                        <span>Founder & Developer</span>
                    </div>
                    <p class="mb0">
                      Kirsten has a more than 10 year history in futures trading. She has quantitative analysis experience going back several years that lead to the persuit of further software engineering education and the development of several algorithms. See more of her recent work <a href="http://www.kirstenofarrell.com">here</a>.    
                    </p>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
