<section>
    <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-5">
            <h4 class="uppercase">Get In Touch</h4>
            <p>
              We are happy to discuss subscription options for you or your organization, customized platform design, or even just trades. Please reach out and we'll get back to you as soon as we can. 
            </p>
            <hr>
            <p>
                P.O. Box 544
                <br /> Old Greenwich, CT
                <br /> 06870
            </p>
            <hr>
            <p>
                <strong>E:</strong> info@worldmacro.us
                <br />
                <strong>P:</strong> (917)763 0590
                <br />
            </p>
          </div>
          <div class="col-sm-6 col-md-5 col-md-offset-1">
            <form class="form-email" data-success="Thanks for your submission, we will be in touch shortly." data-error="Please fill all fields correctly.">
                <input type="text" class="validate-required" name="name" placeholder="Your Name" />
                <input type="text" class="validate-required validate-email" name="email" placeholder="Email Address" />
                <textarea class="validate-required" name="message" rows="4" placeholder="Message"></textarea>
                <button type="submit">Send Message</button>
            </form>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
