<div class="col-md-12 text-center">

<h1>Portfolio Performance - 2016 YTD</h1><br />
  <div class="col-md-6">
    <%= s3_image_tag("WMThruOctSummary.png") %>
  </div>
  <div class="col-md-6">
    <%= s3_image_tag("WMReturnsThruOct.png") %>
  </div>
</div>
