<section>
  <div class="container">
      <div class="row">
          <div class="col-sm-12 text-center">
              <h4 class="uppercase mb16">Flexible, Multipurpose Modals</h4>
              <p class="lead mb64">
                  Using extremely simple markup, you can combine Foundry's smart colour classes to create an array of engaging modals.
              </p>
          </div>
      </div>


<div class="row mb48 mb-xs-0">
  <div class="col-sm-4 text-center">
      <div class="modal-container">
          <a class="btn btn-lg btn-modal" href="#">
              <i class="ti-text"></i> Basic Text</a>
          <div class="foundry_modal">
              <h4>Hey there, I'm a cool multi-purpose modal.
                  <br /> Use me for almost anything!</h4>
                  
          </div>
      </div>
  </div>
</div>
</div>
</section>
<script src="js/scripts.js"></script>
