@import url(http://fonts.googleapis.com/css?family=Clicker+Script);

@import url(https://fonts.googleapis.com/css?family=Bungee+Hairline|Slabo+27px);

@import url(https://fonts.googleapis.com/css?family=Audiowide);

/*////////// GLOBAL //////////*/

body {
  font-size: 90%;
  margin:0;
  padding-bottom: 40px;
  height:100%;
}

h3 {
  margin: 0 0 10px;
}

ul, ol {
  margin-bottom: 10px;
}

li {
  margin-left: 20px;
}

p, address {
  font-size: 1em; /* 16px, ?pt, 100%, 1em */
  line-height: 1.5em;
}

figure {
  margin: 0 0 10px;
}

figcaption {
  font: normal 0.75em/1.5em serif, cursive;
  color: #777;
  text-align: left;
}

table {
  margin: 0 0 20px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

tr:nth-child(even) {
  background: #efefef;
}

th, td {
  padding: 10px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

th {
  background: #555;
  color: white;
}

input, textarea {
  display: block;
  width: auto;
  padding: 5px;
  margin-bottom: 5px;
  box-shadow: 0 3px 5px #ccc;
  border: 1px solid #ccc;
}

input[type="submit"] {
  margin-top: 3px;
  margin-bottom: 2px;
  width: 75px;
  height: 25px;
  background: rgba(0,0,0,.25);
  color: white;
  border-radius: 25px;
  border: 1px solid;
}

input[type="submit"]:hover {
  background: black;
}

iframe {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 403px;
}

.milk-text {
  font: bold 2.6em serif, cursive;
  color: white;
  text-shadow: 0 2px 3px #000;
}

.shadow {
  box-shadow: 0 3px 10px #333;
}

.border-right {
  border-right: 1px dotted #ccc;
  padding-right: 30px;
}


/*////////// BACKGROUNDS //////////*/

.fintimes {
  background: #f0f0f0 no-repeat center top;
  background-size: cover 100%;
}

#container {
   min-height:100%;
   position:relative;
}

.light-fade {
  background: #efefef; /* Old browsers */
  background: -moz-linear-gradient(top,  #efefef 0%, #ffffff 24%, #ffffff 68%, #dddddd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(24%,#ffffff), color-stop(68%,#ffffff), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #efefef 0%,#ffffff 24%,#ffffff 68%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #efefef 0%,#ffffff 24%,#ffffff 68%,#dddddd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #efefef 0%,#ffffff 24%,#ffffff 68%,#dddddd 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #efefef 0%,#ffffff 24%,#ffffff 68%,#dddddd 100%); /* W3C */
}

.medium-fade {
  background: rgb(229,229,229); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(229,229,229,1) 0%, rgba(255,255,255,1) 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(99%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 99%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 99%); /* W3C */
}

/*/////// MEDIA ////////*/

img.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

video, audio, iframe, table, form {
  width: 90%; /* IE */
  max-width: 90%; /* FF, Safari, Chrome */
}

.thumbnail {
  float: left;
  margin-right: 15px;
}

/*////////// FIXES //////////*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear:both;
}

/*/////// LAYOUT ////////*/

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.col-1 {
  float: right;
  width: 22%;
}

.col-2 {
  float: left;
  width: 53%;
  margin-left: 20%;
  padding-left: 30px;
  padding-right: 0px;
}

.col-4 {
  float: left;
  width: 19%;
}

.col-3 p {
  -moz-column-rule: 1px dotted #ccc;
  -webkit-column-rule: 1px dotted #ccc;
  column-rule: 1px dotted #ccc;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}

[class*="col-"] {
  margin-left: 0%;
}

.first {
  margin-left: 0%;
}

/*/////// SOCIAL ////////*/



/*////////// HEADER //////////*/

header {
  margin: 0 0 30px;
}

/*////////// NAVBAR //////////*/

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  text-align: center;
}

#navbar nav {
  border-left: 1px solid #d3d3d3;
}

#navbar nav a.selected {
  color: red;
}

#navbar nav a {
  display: inline-block;
  width: 16.6666667%;
  margin: 0;
  padding: 10px 0;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font: .9em "Trebuchet MS", Arial, sans-serif;
  color: black;
}

#navbar nav a:hover {
  transition: all .4s ease-in-out;
  transform: scale(1.1);
}

#navbar nav a.menu-icon {
  display: none;
}

/*////////// LOGO //////////*/

#logo {
  padding: 35px 0 0;
  background: rgb(0,0,0);
  width: 100%;
}

#logo h1 {
  display: inline-block;
  width: 60px;
  height: 60px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  margin-left: 30px;
  background: url(wmlogosymbol.png) no-repeat;
  background-size: 100% 100%;
}

#logo h2 {
  display: inline-block;
  font: normal 2em "Audiowide", "Trebuchet MS";
  margin: 0;
  position: relative;
  top: -9px;
  left: 5px;
  color: #ffffff;
}

/*////////// MAIN SECTIONS //////////*/

section {
  padding: 0px;
  margin-bottom: 20px;
  border: 10px;
  border-color: #d3d3d3
}

/*////////// DETAILS //////////*/

a {
  color: black;
}

#details {
  border-top: 1px solid white;
}

#details div {
  height: 221px;
}

#details a:link, #details a:visited {
  color: black;
  text-decoration: none;
}

#details a:hover {
  color: black;
  text-decoration: none;
}

#details a:active {
  color: red;
}

/*////////// FOOTER //////////*/

footer {
  text-align: center;
  font-size: 0.75em;
  padding: 10px;
  background: #ffffff;
  border-top: 1px white;
  height: 40px;
  width: 100%;
  position:absolute;
}
