<h1>Home page</h1>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>World Macro</title>
    <!-- <link rel="icon" href="/images/wmlogosymbol.png"> -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css">
    <link rel="stylesheet" href="/stylesheets/bstpstyle.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/responsive.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
    <style>
      @import 'https://fonts.googleapis.com/css?family=Audiowide';
      </style>
  </head>

  <body>
    <!-- <div id="social">
      <a class="twit" href="http://twitter.com/world_macro" title="Twitter">Twitter</a>
      <a class="fbook" href="#" title="Facebook">Facebook</a>
      <!-- <a class="gplus" href="#" title="Google Plus">Google Plus</a> -->
    <!-- </div> --> -->

    <div class="fintimes">
      <header class="medium-fade">
        <div class="wrapper">
          <div id="logo" class="shadow">
            <h1>WORLD MACRO</h1>
            <h2>WORLD MACRO</h2>
          </div>
        </div><!-- .wrapper -->
        <div id="navbar" class="light-fade">
          <div class="wrapper">
            <nav class="clearfix">
              <a class="selected" href="/">Home</a><a href="/trades">Trades</a><a href="#">Insights</a><a href="#">Game</a><a href="#">Contact</a><a href="https://www.federalreserve.gov/monetarypolicy/fomccalendars.htm" target="_blank">F.O.M.C.</a><a class="menu-icon">&#9776;</a>
            </nav>
          </div><!-- .wrapper -->
        </div><!-- #navbar -->
      </header>


      <div class="wrapper clearfix">

        <section class="col-4">
          <a href="#">New and Upcoming Data Releases</a>

        </section>

        <section class="col-2">
          <% Post.all.reverse_each do |post| %>
            <h4><a href="/posts/<%= post.id %>"><%= post.title %></a></h4>
            <h5><%= post.content %><br>
            <%= post.post_date %></h5>
          <% end %>


        </section>

        <section class="col-1 first">
          <a class="twitter-timeline" data-height="500" href="https://twitter.com/world_macro">Tweets by world_macro</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </section>

        <!-- <figure>
          <img src="/stylesheets/images/Buxlst_61716.jpg" alt="Buxl Daily" title="Evening Star">
          <figcaption>CQG Inc. 2016 All rights reserved.</figcaption>
          <img src="/stylesheets/images/Buxl_61716.jpg" alt="Buxl Daily" title="Evening Star">
          <figcaption>CQG Inc. 2016 All rights reserved.</figcaption>
        </figure> -->


        <!-- <form action="users/login" method="GET">
          <p><input type="submit" value="Login"></p>
        </form>

        <% if is_logged_in? %>
          <form action="posts/new" method="GET">
            <p><input type="submit" value="New Post"></p>
          </form>
        <% end %> -->
      </div>

    </div>
  </body>
</html>
